* {
	--cn-blue: #4682b4;
	--cn-blue-light: #4f8bbd;
	--cn-red: #b94941;
	--cn-yellow: #ffca28;
	--cn-medium-grey: #474747;
	--cn-dark-grey: #2c2c2c;
	font-family: sans-serif;
	font-size: 1rem;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: var(--cn-dark-grey);
	color: white;
	padding: 0.5rem;
}

.cn-div {
	padding: 1rem;
	margin: 1rem;
	background-color: var(--cn-medium-grey);
	border-radius: 0.2rem;
}

.cn-warning-div {
	padding: 1rem;
	margin: 1rem;
	background-color: var(--cn-medium-grey);
	border-radius: 0.2rem;
	background-color: var(--cn-red);
}

.cn-hide {
	display: none;
}

.cn-show {
	display: block;
}

.cn-button {
	background-color: var(--cn-blue);
	color: white;
	padding: 1rem;
	border-radius: 0.2rem;
	border: none;
}

.cn-button:active {
	background-color: var(--cn-blue-light);
}

.cn-button:focus {
	outline: none;
}

.cn-text-input {
	width: 100%;
	padding: 0.25rem;
	outline-color: var(--cn-blue-light);
}