// Base Colors -  Lime Green
$cn-green: #32cd32;
$cn-green-very-light: #e2f8e2;
$cn-green-light: #98e698;
$cn-green-medium: #4fd44f;
$cn-green-dark: #249324;
$cn-green-very-dark: #040f04;
$cn-complementary: #cd32cd;

// Base Colors -  Steel Blue
$cn-blue: #4682b4;
$cn-blue-very-light: #d7e4ef;
$cn-blue-light: #79a6cb;
$cn-blue-medium: #4f8bbd;
$cn-blue-dark: #284b67;
$cn-blue-very-dark: #0a131a;
$cn-complementary: #b47746;

// Warning and Attention Colors
$cn-red: #b94941;
$cn-yellow: #ffca28;

// Dark Colors
$cn-dark: #1b1b1b;
$cn-light-grey: #7d7d7d;
$cn-medium-grey: #474747;
$cn-dark-grey: #2c2c2c;

// Text Colors
$cn-light-text: #f3f3f3;
$cn-dark-text: #1d1d1d;
